
.boot1{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.boot2{
    font-family:  "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio{
    color: white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    
}
.portfolio:hover{
    color: rgb(26 188 156);
}

   .box{
    font-size: 24px;
    margin-bottom: 7rem;
    color: white;
   }
   .box:hover{
    color: black; 
    background-color:white;
   }
   .photo {
    position: relative;
     /* position: absolute;  */
     /* width: 100%;  */
     max-width: 450px; 
     max-height: 450px;
  }
  
  .image {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 92%;
    margin-left: 12px;
    border-radius: 10px;
    opacity: 0;
    background-color: rgb(26 188 156) ;
  }
  .bx-plus{
    border-radius:5px;

  }
  
  .photo:hover .overlay {
    opacity: 0.8;
  }
  
  #plus {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%); 
    text-align: center;
  }
  #icon{
    font-size: 30px;
    color: white;
    border: 2px solid white;
    padding:9px;
    margin: 0px 4px;
    border-radius: 90px; 

    /* position: fixed;  */
    /* width: 100%;  */
   }
   #icon:hover{
    background-color: white;
    color: black;
    /* border: none;  */
   }
   #mark{
    font-size: 25px;
    color: white;
     text-align: center; 
     justify-content: center; 
   }
  
 